.taskList {
  min-height: 200px;
  width: 100%;
  border: 1px dashed #888888;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  font-size: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  gap: 20px;
  list-style: none;
  background-color: #d1f8ff;
}

.tasks_text.completed {
  text-decoration: line-through;
}

.btn {
  width: auto;
  border: none;
  border-radius: 10px;
  background-color: #22c682;
  padding: 5px;
  color: #fafdff;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffc400;
  box-shadow: 0 0 25px rgba(255, 230, 0, 0.8);
}