*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;  
  --container-color: #c1daee;
}

body {
  background-color: var(--background-color);
}